body .selectable {
  user-select: text;
}
body .btn {
  text-decoration: none;
  text-decoration-color: transparent;
  outline: transparent none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
body .btn-primary,
body .btn-primary.disabled,
body .btn-primary:disabled {
  color: #fff !important;
  background-color: #075c8f;
  border-color: #075c8f;
}
body .btn-primary:not(:disabled):not(.disabled).active,
body .btn-primary:not(:disabled):not(.disabled):active,
body .btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #fff;
  border-color: #075c8f;
  color: #075c8f !important;
}
body .btn-success,
body .btn-success.disabled,
body .btn-success:disabled {
  color: #fff !important;
  background-color: #84c561;
  border-color: #84c561;
}
body .btn-success:not(:disabled):not(.disabled).active,
body .btn-success:not(:disabled):not(.disabled):active,
body .btn-success:not(:disabled):not(.disabled):hover {
  background-color: #fff;
  border-color: #84c561;
  color: #84c561 !important;
}
body .btn.disabled,
body .btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
body fieldset:disabled .btn {
  opacity: 0.5;
  pointer-events: none;
}
header#header {
  z-index: 1040;
  background-color: #fff;
}
.rtl header#header .language .dropdown-menu {
  min-width: 122px;
}
header#header .language {
  margin: 0 5px;
}
header#header .language a {
  padding: 2px 15px 3px;
}
header#header .language a .language-flag {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 11px;
}
header#header .language a .language-flag .flag {
  position: absolute;
  top: 1px;
  left: 0;
}
header#header .language .dropdown-toggle:after {
  display: none;
}
header#header .language .dropdown-menu {
  z-index: 1046;
  min-width: 0;
  margin-left: -1px;
  margin-top: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
header#header .language .dropdown-menu .dropdown-item {
  padding: 0.25rem 0;
}
header#header .language .dropdown-menu .dropdown-item a {
  border-right: none;
}
@media (min-width: 992px) {
  header#header .rtl header#header .language .dropdown-menu {
    right: -14px !important;
  }
  header#header header#header .language .dropdown-menu {
    left: -14px !important;
  }
}
@media (min-width: 992px) {
  header#header .language {
    margin: 0;
  }
  header#header .language .dropdown-menu {
    margin-top: 8px;
  }
}
.rtl.logged-out header#header .main-menu-container .language .dropdown-menu {
  right: -42px;
}
header#header {
  box-shadow: 0 0 10px 0 #ccc;
}
header#header section {
  margin-bottom: 0;
}
header#header ul {
  list-style: none;
  list-style-type: none;
}
header#header ul li {
  list-style-image: url("../Images/download_2.gif");
}
header#header .smart-banner .afb-container {
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
}
header#header .smart-banner.hide .afb-container {
  height: 0;
}
header#header .menu-cta {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.8;
  padding: 3px 5px 3px 5px;
}
header#header .info-center-container {
  display: none;
  border-bottom: 1px solid #ddd;
}
header#header .info-center-container .info-center {
  padding: 10px 0;
}
header#header .info-center-container .info-center .nav-item {
  margin: 5px 0 4px;
}
header#header .info-center-container .info-center .nav-item:last-child {
  margin: 0;
}
header#header .info-center-container .info-center .nav-item a {
  padding: 8px 15px;
  border-right: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  color: #58585b;
  position: relative;
}
header#header .info-center-container .info-center .nav-item a:hover {
  text-decoration: none;
}
.rtl header#header .info-center-container .info-center .nav-item a {
  border-right: none;
  border-left: 1px solid #ddd;
}
header#header .info-center-container .info-center .nav-item a.livechat-trigger {
  color: #075c8f;
}
header#header .info-center-container .info-center .nav-item a.disable {
  color: #ddd !important;
}
header#header .info-center-container .info-center .nav-item:hover a {
  color: #075c8f;
}
header#header
  .info-center-container
  .info-center
  .nav-item:active
  a.livechat-trigger,
header#header
  .info-center-container
  .info-center
  .nav-item:focus
  a.livechat-trigger,
header#header
  .info-center-container
  .info-center
  .nav-item:hover
  a.livechat-trigger {
  color: #84c561 !important;
}
header#header .info-center-container .info-center .nav-item .language a {
  border: none;
  padding: 8px 15px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header#header
    .info-center-container
    .info-center
    .nav-item
    .language
    a.dropdown-toggle {
    border-right: 1px solid #ddd;
  }
  .rtl
    header#header
    .info-center-container
    .info-center
    .nav-item
    .language
    a.dropdown-toggle {
    border-right: none;
    border-left: 1px solid #ddd;
  }
}
@media (min-width: 992px) {
  header#header
    .info-center-container
    .info-center
    .nav-item
    .language
    ul.dropdown-menu {
    margin-top: 10px;
  }
}
header#header .info-center-container .info-center a.menu-cta {
  margin-top: -1px;
  line-height: 1.5;
  padding: 3px 15px;
}
header#header .main-menu-container {
  min-height: 50px;
}
header#header .main-menu-container nav.navbar {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
header#header .main-menu-container nav.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.logged-out header#header .main-menu-container nav.navbar .language {
  margin-left: auto;
}
.rtl.logged-out header#header .main-menu-container nav.navbar .language {
  margin-left: 5px;
  margin-right: auto;
}
header#header .main-menu-container nav.navbar .language .dropdown-menu {
  margin-top: 15px;
  left: -42px;
}
header#header .main-menu-container nav.navbar .mobile-menu-toggle {
  width: 25px;
  height: 30px;
}
header#header
  .main-menu-container
  nav.navbar
  .mobile-menu-toggle
  button.navbar-toggler {
  padding: 0;
  border: none;
  outline: unset !important;
  font-size: 28px;
  color: #075c8f;
}
header#header .main-menu-container nav.navbar .main-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  .dropdown-toggle:after {
  display: none;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item.active-list
  > .nav-link {
  color: #075c8f;
}
.logged-in
  header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item.livechat {
  display: none;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item.livechat
  a.livechat-trigger:active,
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item.livechat
  a.livechat-trigger:focus,
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item.livechat
  a.livechat-trigger:hover {
  color: #84c561 !important;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #58585b;
  text-transform: uppercase;
  padding: 12px 15px;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link
  i.fa-minus-square,
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link
  i.fa-plus-square {
  margin-top: 0;
  font-size: 20px;
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 8px 10px;
}
.rtl
  header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link
  i.fa-minus-square,
.rtl
  header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link
  i.fa-plus-square {
  right: auto;
  left: 5px;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link
  i.fa-plus-square {
  color: #a7a9ab;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link
  i.fa-minus-square {
  color: #075c8f;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  ul.dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
  min-width: 155px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.06);
}
.rtl
  header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  ul.dropdown-menu {
  -webkit-box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.06);
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item.mrkt-contact {
  display: none;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item.dropdown
  > ul.dropdown-menu {
  margin-top: 0;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item.dropdown
  > ul.dropdown-menu
  li.nav-item
  a {
  display: table-cell;
  vertical-align: middle;
  text-transform: none;
  padding: 18px 15px;
  white-space: initial;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item.dropdown
  > ul.dropdown-menu
  li.nav-item
  a:hover {
  display: table-cell;
}
.rtl
  header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item
  > ul.dropdown-menu,
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item
  > ul.dropdown-menu {
  -webkit-box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.06),
    3px 3px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.06),
    3px 3px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.06),
    3px 3px 2px 0 rgba(0, 0, 0, 0.06);
}
header#header .main-menu-container nav.navbar .main-menu a.menu-cta {
  margin: 35px 0;
  min-width: 90px;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  .fixed-bottom
  .mobile-buttons {
  background-color: #fff;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  .fixed-bottom
  .mobile-buttons
  > div {
  padding: 8px 10px 15px;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  .fixed-bottom
  .mobile-buttons
  .mobile-button {
  padding: 0 5px;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  .fixed-bottom
  .mobile-buttons
  .mobile-button
  .btn {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
}
.logged-in header#header .main-menu-container .logo {
  display: none;
}
header#header .main-menu-container .logo img {
  width: 130px;
  max-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
[lang="zh-hans"] header#header .main-menu-container .logo img {
  margin-top: 17px;
  margin-bottom: 17px;
}
header#header .main-menu-container .logo-no-txt {
  display: none;
}
.logged-in header#header .main-menu-container .logo-no-txt {
  display: block;
}
header#header .main-menu-container .logo-no-txt img {
  width: 27px;
  height: 27px;
  margin-top: 11px;
  margin-bottom: 11px;
}
@media (min-width: 576px) {
  .logged-in header#header .main-menu-container .logo {
    display: block;
  }
  .logged-in header#header .main-menu-container .logo-no-txt {
    display: none;
  }
}
@media (min-width: 992px) {
  header#header .main-menu-container {
    min-height: 55px;
  }
  header#header .main-menu-container .logo img {
    width: 190px;
    max-width: 190px;
    max-height: 43px;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  header#header .main-menu-container nav.navbar .main-menu ul.navbar-nav {
    max-width: 640px;
  }
  [lang="de"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav {
    max-width: 660px;
  }
  [lang="zh-hans"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav {
    max-width: 540px;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    .nav-link {
    padding: 0.5rem 15px;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    .nav-link
    i.fa-chevron-right {
    margin-top: 3px;
  }
  .rtl
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    .nav-link
    i.fa-chevron-right:before {
    content: "\F053";
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item.active-list,
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item:hover {
    color: #075c8f;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item {
    padding: 33px 0.3rem;
    background-color: #fff !important;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(6) {
    flex: none !important;
  }
  .ltr
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(6) {
    padding-right: 2px;
  }
  .rtl
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(6) {
    padding-left: 2px;
  }
  [lang="zh-hans"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(5) {
    flex: none !important;
    padding-right: 2px;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item.dropdown
    > ul.dropdown-menu {
    margin-left: -14px;
  }
  .rtl
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item.dropdown
    > ul.dropdown-menu {
    margin-right: -14px;
    margin-left: 0;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item.dropdown
    > ul.dropdown-menu
    li.nav-item {
    width: 100%;
    display: table;
    min-height: 56px;
    padding-left: 5px;
    padding-right: 5px;
    align-self: flex-start;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item
    > .nav-link {
    padding: 7px 0;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item
    > .nav-link
    i.fa-chevron-right {
    display: none !important;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item
    > .nav-link
    span.menu-title {
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item.active-list
    > .nav-link
    span.menu-title {
    border-bottom: 3px solid #075c8f;
  }
}
@media (min-width: 1200px) {
  [lang="de"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav,
  header#header .main-menu-container nav.navbar .main-menu ul.navbar-nav {
    max-width: 620px;
  }
  .rtl header#header .main-menu-container nav.navbar .main-menu a.menu-cta,
  header#header .main-menu-container nav.navbar .main-menu a.menu-cta {
    padding: 0.2rem 0.75rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    .fixed-bottom
    .mobile-buttons
    > div,
  header#header .main-menu-container nav.navbar .main-menu ul.navbar-nav {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    .fixed-bottom
    .mobile-buttons
    > div,
  header#header .main-menu-container nav.navbar .main-menu ul.navbar-nav {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header#header .main-menu-container nav.navbar .main-menu ul.navbar-nav {
    max-width: none !important;
    margin: 0 30px !important;
  }
  [lang="de"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav {
    margin: 0 10px !important;
  }
}
@media (min-width: 992px) {
  header#header .info-center-container {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(6)
    > ul.dropdown-menu {
    width: 155px;
    margin-left: calc(100% - 131px);
  }
  .rtl
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(6)
    > ul.dropdown-menu {
    margin-left: 0;
    margin-right: calc(100% - 131px);
  }
  [lang="zh-hans"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(5)
    > ul.dropdown-menu {
    width: 155px;
    margin-left: calc(100% - 131px);
  }
  .rtl
    [lang="zh-hans"]
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item:nth-child(5)
    > ul.dropdown-menu {
    margin-left: 0;
    margin-right: calc(100% - 131px);
  }
}
@media (max-width: 991.98px) {
  header#header .main-menu-container {
    border-bottom: 1px solid #eee;
  }
  header#header .main-menu-container nav.navbar .main-menu {
    position: fixed;
    top: 46px;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  header#header .main-menu-container nav.navbar .main-menu.collapsing,
  header#header .main-menu-container nav.navbar .main-menu.in,
  header#header .main-menu-container nav.navbar .main-menu.show {
    left: 0;
    right: 0;
    height: calc(100% - 46px);
    overflow-x: hidden;
    overflow-y: auto;
    transition: none;
    background: #fff;
  }
  header#header .main-menu-container nav.navbar .main-menu ul.navbar-nav {
    padding: 20px 2px 70px 2px;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item:hover:after {
    display: none;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    .nav-link {
    font-size: 13px;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    .nav-link.dropdown-toggle:after {
    border: none;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    ul.dropdown-menu {
    box-shadow: none !important;
    margin: 0;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    li.nav-item
    ul.dropdown-menu:not(.show) {
    display: none;
  }
  header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item.dropdown
    > ul.dropdown-menu
    li.nav-item {
    display: block;
    padding-left: 20px;
  }
  .rtl
    header#header
    .main-menu-container
    nav.navbar
    .main-menu
    ul.navbar-nav
    > li.nav-item.dropdown
    > ul.dropdown-menu
    li.nav-item {
    padding-left: 0;
    padding-right: 20px !important;
  }
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  li.nav-item
  .nav-link.active {
  border-bottom: solid 3px #075c8f;
}
header#header
  .main-menu-container
  nav.navbar
  .main-menu
  ul.navbar-nav
  > li.nav-item
  > .nav-link
  span.menu-title.active {
  border-bottom: 3px solid #075c8f;
}
body .sponsorship-top {
  font-size: 14px;
  color: #075c8f;
}
body .sponsorship-top a {
  text-decoration: none;
}
body .sponsorship-top img {
  margin: -5px 0 0 10px;
}
.rtl body .sponsorship-top img {
  margin: -5px 10px 0 0;
}
body .outer-wrap > .sponsorship-top {
  background-color: #fff;
  padding: 16px 15px 10px;
  border-bottom: 1px solid #ddd;
}
body .outer-wrap > .breadcrumb-container + .sponsorship-top {
  border-top: 1px solid #ddd;
}
header#header .info-center-container .info-center .sponsorship-top {
  border-right: 1px solid #ddd;
  padding: 0 15px;
}
header#header .info-center-container .info-center .sponsorship-top a {
  text-decoration: none;
}
.rtl header#header .info-center-container .info-center .sponsorship-top {
  border-right: none;
  border-left: 1px solid #ddd;
}
body > .outer-wrap {
  padding-top: 50px;
}
@media (min-width: 992px) {
  body > .outer-wrap {
    padding-top: 150px;
  }
}
