@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto.ttf") format('truetype');
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("../Fonts/NotoSansSC.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans.ttf") format('truetype');
}

*{
  font-family: "Noto Sans SC", "Roboto", "Open Sans", "Arial" !important;
}

body {
  background: #fff;
}
.m-h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  font-size: 8vw;
  line-height: 1.1;
  color: #075c8f;
  font-weight: 700;
  text-transform: uppercase;
}
.m-h2 {
  font-size: 20px;
  line-height: 24px;
  color: #a7a9ab;
  font-weight: 400;
  text-transform: uppercase;
}
.m-title-1 {
  font-size: 36px;
  line-height: 40px;
  color: #323132;
  font-weight: 700;
}
.m-title-2 {
  font-size: 26px;
  line-height: 30px;
  color: #075c8f;
  font-weight: 500;
}
.m-title-3 {
  font-size: 24px;
  line-height: 26px;
  color: #404041;
  font-weight: 700;
}
.m-title-4 {
  font-size: 18px;
  line-height: 20px;
  color: #075c8f;
  font-weight: 600;
}
.m-title-5 {
  font-size: 20px;
  line-height: 22px;
  color: #404041;
  font-weight: 700;
}
.m-title-6 {
  font-size: 20px;
  line-height: 22px;
  color: #323132;
  font-weight: 400;
}
.m-text-1 {
  font-size: 16px;
  line-height: 25px;
  color: #323132;
  font-weight: 400;
}
.m-text-md {
  font-size: 18px;
  line-height: 22px;
  color: #323132;
  font-weight: 400;
}
.m-text-sm {
  font-size: 14px;
  line-height: 20px;
  color: #58585b;
  font-weight: 400;
}
.m-text-blue {
  color: #075c8f;
}
.m-text-green {
  color: #84c561;
}
.m-anchor-1 {
  font-size: 18px;
  line-height: 22px;
  color: #075c8f;
  font-weight: 700;
  border-bottom: 1px solid #075c8f;
  transition: 0.3s all ease;
  text-decoration: none;
  display: inline-block;
}
.m-anchor-1:hover {
  border-bottom: 1px solid transparent;
  color: #075c8f;
}
.m-anchor-1:focus {
  color: #075c8f;
  outline: 0;
  text-decoration: none;
}
.m-anchor {
  color: #075c8f;
  transition: 0.3s all ease;
  border-bottom: 1px solid #075c8f;
  text-decoration: none;
}
.m-anchor:hover {
  border-bottom: 1px solid transparent;
  color: #075c8f;
}
.m-anchor:focus {
  color: #075c8f;
  outline: 0;
  text-decoration: none;
}
.m-anchor-rev {
  color: #075c8f;
  transition: 0.3s all ease;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
.m-anchor-rev:hover {
  color: #075c8f;
  transition: 0.3s all ease;
  border-bottom: 1px solid #075c8f;
  text-decoration: none;
}
.m-anchor-rev:focus {
  color: #075c8f;
  outline: 0;
  text-decoration: none;
}
.m-btn-1 {
  font-size: 24px;
  line-height: 28px;
  color: #fff !important;
  font-weight: 400;
  background: #075c8f;
  border: 1px solid #075c8f;
  border-radius: 4px;
  padding: 13px 0;
  transition: 0.3s all ease;
}
.m-btn-1:hover {
  font-size: 24px;
  line-height: 28px;
  color: #075c8f !important;
  background: #fff;
  border: 1px solid #075c8f;
  transition: 0.3s all ease;
}
.m-btn-2 {
  font-size: 26px;
  line-height: 28px;
  color: #075c8f !important;
  font-weight: 400;
  transition: 0.3s all ease;
  background: 0 0;
  border: 1px solid #075c8f;
  border-radius: 4px;
  padding: 13px 0;
}
.m-btn-2:hover {
  font-size: 26px;
  line-height: 28px;
  color: #fff !important;
  background: #075c8f;
  border: 1px solid #075c8f;
  transition: 0.3s all ease;
}
.m-table-header-1 {
  font-size: 18px;
  line-height: 24px;
  color: #075c8f;
  font-weight: 500;
}
.m-table-header-2 {
  font-size: 16px;
  line-height: 22px;
  color: #323132;
  font-weight: 700;
}
.m-float-left {
  float: left !important;
}
.m-float-right {
  float: right !important;
}
.rtl .m-float-left {
  float: right !important;
}
.rtl .m-float-right {
  float: left !important;
}
.m-float-none {
  float: none !important;
}
@media (min-width: 576px) {
  .m-float-sm-left {
    float: left !important;
  }
  .m-float-sm-right {
    float: right !important;
  }
  .rtl .m-float-sm-left {
    float: right !important;
  }
  .rtl .m-float-sm-right {
    float: left !important;
  }
  .m-float-sm-none {
    float: none !important;
  }
}
@media (min-width: 768px) {
  .m-float-md-left {
    float: left !important;
  }
  .m-float-md-right {
    float: right !important;
  }
  .rtl .m-float-md-left {
    float: right !important;
  }
  .rtl .m-float-md-right {
    float: left !important;
  }
  .m-float-md-none {
    float: none !important;
  }
}
@media (min-width: 992px) {
  .m-float-lg-left {
    float: left !important;
  }
  .m-float-lg-right {
    float: right !important;
  }
  .rtl .m-float-lg-left {
    float: right !important;
  }
  .rtl .m-float-lg-right {
    float: left !important;
  }
  .m-float-lg-none {
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .m-float-xl-left {
    float: left !important;
  }
  .m-float-xl-right {
    float: right !important;
  }
  .rtl .m-float-xl-left {
    float: right !important;
  }
  .rtl .m-float-xl-right {
    float: left !important;
  }
  .m-float-xl-none {
    float: none !important;
  }
}
.m-text-left {
  text-align: left !important;
}
.m-text-right {
  text-align: right !important;
}
.rtl .m-text-left {
  text-align: right !important;
}
.rtl .m-text-right {
  text-align: left !important;
}
.m-text-center {
  text-align: center !important;
}
@media (min-width: 576px) {
  .m-text-sm-left {
    text-align: left !important;
  }
  .m-text-sm-right {
    text-align: right !important;
  }
  .rtl .m-text-sm-left {
    text-align: right !important;
  }
  .rtl .m-text-sm-right {
    text-align: left !important;
  }
  .m-text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .m-text-md-left {
    text-align: left !important;
  }
  .m-text-md-right {
    text-align: right !important;
  }
  .rtl .m-text-md-left {
    text-align: right !important;
  }
  .rtl .m-text-md-right {
    text-align: left !important;
  }
  .m-text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .m-text-lg-left {
    text-align: left !important;
  }
  .m-text-lg-right {
    text-align: right !important;
  }
  .rtl .m-text-lg-left {
    text-align: right !important;
  }
  .rtl .m-text-lg-right {
    text-align: left !important;
  }
  .m-text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .m-text-xl-left {
    text-align: left !important;
  }
  .m-text-xl-right {
    text-align: right !important;
  }
  .rtl .m-text-xl-left {
    text-align: right !important;
  }
  .rtl .m-text-xl-right {
    text-align: left !important;
  }
  .m-text-xl-center {
    text-align: center !important;
  }
}
.m-m-auto {
  margin: auto !important;
}
.m-mt-auto,
.m-my-auto {
  margin-top: auto !important;
}
.m-mr-auto,
.m-mx-auto {
  margin-right: auto !important;
}
.m-mb-auto,
.m-my-auto {
  margin-bottom: auto !important;
}
.m-ml-auto,
.m-mx-auto {
  margin-left: auto !important;
}
@media (min-width: 576px) {
  .m-m-sm-auto {
    margin: auto !important;
  }
  .m-mt-sm-auto,
  .m-my-sm-auto {
    margin-top: auto !important;
  }
  .m-mr-sm-auto,
  .m-mx-sm-auto {
    margin-right: auto !important;
  }
  .m-mb-sm-auto,
  .m-my-sm-auto {
    margin-bottom: auto !important;
  }
  .m-ml-sm-auto,
  .m-mx-sm-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .m-m-md-auto {
    margin: auto !important;
  }
  .m-mt-md-auto,
  .m-my-md-auto {
    margin-top: auto !important;
  }
  .m-mr-md-auto,
  .m-mx-md-auto {
    margin-right: auto !important;
  }
  .m-mb-md-auto,
  .m-my-md-auto {
    margin-bottom: auto !important;
  }
  .m-ml-md-auto,
  .m-mx-md-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .m-m-lg-auto {
    margin: auto !important;
  }
  .m-mt-lg-auto,
  .m-my-lg-auto {
    margin-top: auto !important;
  }
  .m-mr-lg-auto,
  .m-mx-lg-auto {
    margin-right: auto !important;
  }
  .m-mb-lg-auto,
  .m-my-lg-auto {
    margin-bottom: auto !important;
  }
  .m-ml-lg-auto,
  .m-mx-lg-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 1200px) {
  .m-m-xl-auto {
    margin: auto !important;
  }
  .m-mt-xl-auto,
  .m-my-xl-auto {
    margin-top: auto !important;
  }
  .m-mr-xl-auto,
  .m-mx-xl-auto {
    margin-right: auto !important;
  }
  .m-mb-xl-auto,
  .m-my-xl-auto {
    margin-bottom: auto !important;
  }
  .m-ml-xl-auto,
  .m-mx-xl-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .m-h1 {
    font-size: 40px;
    font-size: 6.15vw;
  }
}
@media (min-width: 992px) {
  .m-h1 {
    font-size: 50px;
    font-size: 4.15vw;
  }
}
@media (min-width: 1200px) {
  .m-h1 {
    font-size: 60px;
  }
}
.panel-group .panel {
  border-radius: 0;
}
.panel-group .panel-default {
  border: none;
}
.panel-group .panel-default .panel-heading {
  background-color: transparent;
}
.panel-group .panel-default .panel-title {
  font-size: 16px;
  color: #075c8f;
  font-weight: 500;
}
.rtl .panel-group .panel-default .panel-title a.collapsed:hover:before {
  color: #075c8f;
}
.panel-group .panel-default .panel-title i.collapse-arrow {
  line-height: 2;
}
.panel-group .panel-default .panel-title a {
  padding: 20px 30px;
  position: relative;
  border: 1px solid #075c8f;
  border-bottom: 1px solid #b7b7b7;
}
.panel-group .panel-default .panel-title a:focus,
.panel-group .panel-default .panel-title a:hover {
  text-decoration: none;
}
.panel-group .panel-default .panel-title a.collapsed {
  border-color: #b7b7b7;
}
.panel-group .panel-default .panel-title a.collapsed:hover {
  border-color: #075c8f;
}
.panel-group .panel-default .panel-title a.collapsed:hover:after {
  color: #075c8f;
}
.panel-group .panel-default .panel-collapse .panel-body {
  border: 1px solid #075c8f;
  border-top: none;
}
.btn-green,
.btn-green:hover {
  background: #8dc74b;
  color: #fff;
}
.btn-green:active:focus,
.btn-green:focus {
  color: #fff;
}
.title-wline {
  color: #333;
  margin-top: 24px;
  display: table;
  white-space: nowrap;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.title-wline:after,
.title-wline:before {
  border-top: 1px solid #333;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 50%;
}
.title-wline:before {
  right: 1.5%;
}
.title-wline:after {
  left: 1.5%;
}
html.rtl .title-wline:before {
  right: -1.5%;
}
html.rtl .title-wline:after {
  left: -1.5%;
}
.margin-bottom-xs {
  margin-bottom: 5px;
}
.title-feature {
  font-size: 22px;
  margin-top: 12px;
  color: #333;
}
.ul-checkmark {
  margin-left: -15px;
  list-style-image: url("../Images/tick.png");
}
.ul-checkmark li {
  margin-bottom: 15px;
}
.ul-checkmark-circle {
  margin-left: -15px;
  list-style-image: url("../Images/green_tick.png");
}
.ul-checkmark-circle li {
  margin-bottom: 15px;
}
.ul-circle {
  margin-left: -15px;
  list-style-image: url("../Images/download.png");
}
.ul-circle li {
  margin-bottom: 15px;
}
p.text-cta {
  color: #333;
  font-size: 18px;
  padding-top: 5px;
}
p.text-cta a {
  color: #8ac745;
}
.btn-demo {
  color: #ccc;
  background: #f2f2f2;
  border: solid 1px #ccc;
}
.mobile-download-buttons img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .title-wline {
    margin-top: 40px;
  }
  .title-feature {
    font-size: 26px;
  }
  .mobile-download-buttons img {
    margin-bottom: 0;
  }
}
@mixin make-col-ready($gutter: $grid-gutter-width) {
  position: relative;
  padding-right: $gutter/2;
  padding-left: $gutter/2;
}
@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
}
@mixin make-col-offset($size, $columns: $grid-columns) {
  margin-left: if($num == 0, 0, percentage($num));
}
/* @each $breakpoint in map-keys($grid-breakpoints){
  @each $value in $displays {
    .d#{$infix;}$value {
      display: $value !important;
    } */

/* } // Retina image // // Short retina mixin for setting background-image and -size. @mixin img-retina($file-1x,$file-2x,$width-1x,$height-1x){background-image:url($file-1x);background-size:$width-1x $height-1x}@include deprecate("`img-retina()`", "v4.3.0", "v5"); */
