body,
html {
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
}
html {
  background-color: #fff;
}
body {
  overflow-x: hidden;
}
html.fixed,
html.fixed body,
html.ios body.modal-open {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
a {
  cursor: pointer;
}
a:hover {
  outline: 0 !important;
}
a.disable {
  pointer-events: none;
  cursor: default;
}
ol,
p,
ul {
  line-height: 1.5;
}
.line-on-pl {
  text-decoration: line-through;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
.outer-wrap {
  background-color: #fff;
  padding-top: 42px;
  height: 100%;
}
@media (min-width: 992px) {
  .outer-wrap {
    padding-top: 56px;
  }
}
html.preview .outer-wrap {
  padding-top: 0;
}
html.preview .lazy-picture {
  opacity: 1;
}
html.preview .widget_placeholder {
  text-align: center;
  padding: 30px 20px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
}
.em_overlay {
  display: none;
}
.img-fluid {
  width: auto;
}
.logo-without-text {
  max-width: 40px !important;
}
.embed-responsive {
  background-color: #f9f9f9;
}
.embed-responsive-item.img-fluid {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
[data-geo-hide] {
  display: none;
}
[data-geo-show] {
  display: none;
}
[data-resident-show] {
  display: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
@media (max-width: 767px) {
  .pull-left-xs {
    float: left;
  }
  .pull-right-xs {
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pull-left-sm {
    float: left;
  }
  .pull-right-sm {
    float: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pull-left-md {
    float: left;
  }
  .pull-right-md {
    float: right;
  }
}
@media (min-width: 1200px) {
  .pull-left-lg {
    float: left;
  }
  .pull-right-lg {
    float: right;
  }
}
.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-side-margin {
  margin-right: 0;
  margin-left: 0;
}
.hovershortcode.hover.hoverout {
  display: none;
}
.hovershortcode.hover.hoverover {
  display: none;
}
.hovershortcode.active {
  display: block !important;
}
.overlay {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1039;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.overlay.active {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
.h4,
h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.w-150px {
  width: 150px !important;
}
@media (min-width: 768px) {
  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.table.table-bordered {
  background-color: #fff;
}
.table-em-striped > tbody > tr:nth-child(odd) > td,
.table-em-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f2f2f2;
}
.table > tbody > tr.primary > td,
.table > tbody > tr.primary > th,
.table > tbody > tr > td.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr.primary > td,
.table > tfoot > tr.primary > th,
.table > tfoot > tr > td.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > thead > tr.primary > th,
.table > thead > tr > td.primary,
.table > thead > tr > th.primary {
  background-color: #3697cc;
  color: #fff;
}
.table-indented > tbody > tr > td,
.table-indented > tbody > tr > th,
.table-indented > tfoot > tr > td,
.table-indented > tfoot > tr > th,
.table-indented > thead > tr > td,
.table-indented > thead > tr > th {
  padding-left: 25px;
  padding-right: 25px;
}
.modal .modal-footer,
.modal .modal-header {
  padding: 0;
}
.modal .modal-header:after,
.modal .modal-header:before {
  display: table;
  content: " ";
}
.modal .modal-header:after {
  clear: both;
}
.modal .modal-body {
  padding: 0 15% 15px;
}
.modal .modal-h1 {
  margin: 0 -15px 20px -15px;
}
.modal .modal-header {
  border-bottom: 0;
  min-height: 25px;
}
.modal .modal-footer {
  border-top: 0;
}
.modal-header .close {
  margin-top: 1px;
  margin-right: 1px;
}
#clientAgreementModal .modal-body {
  padding: 0 9% 9%;
}
#clientAgreementModal .modal-body .pdfwrapper {
  border: 1px solid #ccc;
  height: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#suitability-test .modal-header {
  min-height: 21px;
}
#suitability-test .modal-body {
  padding: 0 10% 0;
}
#suitability-test .modal-body .footer-test {
  font-size: 12px;
  color: #8e8888;
}
#suitability-test .suitability-btn:hover {
  color: #fff !important;
  background-color: #075c8f !important;
  border: 1px solid #075c8f;
  border-radius: 4px !important;
}
#suitability-test .deposit-btn {
  border-radius: 4px;
}
#suitability-test .deposit-btn:hover {
  background-color: transparent !important;
  background-image: none !important;
  color: #075c8f !important;
}
.knowledge-test > .row {
  margin-left: 0;
}
@media all and (max-width: 320px) and (min-height: 480px) {
  #clientAgreementModal .modal-header {
    min-height: 0;
  }
  #clientAgreementModal .modal-body .pdfwrapper {
    max-height: 65px;
  }
}
@media all and (max-width: 320px) and (min-height: 568px) {
  #clientAgreementModal .modal-header {
    min-height: 0;
  }
  #clientAgreementModal .modal-body .pdfwrapper {
    max-height: 150px;
  }
}
#registerOptionsModal .h2 {
  padding: 0 5px;
  font-weight: 300;
  font-size: 15px;
  width: 84%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.pull-down {
  margin-bottom: 20px !important;
}
#registerOptionsModal
  .register-choices
  button[data-target="#registerLiveModal"] {
  margin: 0 auto;
  margin-bottom: 10px;
}
#registerOptionsModal
  .register-choices
  button[data-target="#registerLiveModal"].active,
#registerOptionsModal
  .register-choices
  button[data-target="#registerLiveModal"]:active,
#registerOptionsModal
  .register-choices
  button[data-target="#registerLiveModal"]:hover {
  color: #fff;
  background-color: #075c8f;
}
#registerOptionsModal .btn-cta {
  max-width: 300px;
}
#registerOptionsModal .btn-cta.active,
#registerOptionsModal .btn-cta:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.risk-warning {
  color: grey;
  margin-bottom: 30px;
}
#loginModal.modal .modal-body,
#registerDemoModal.modal .modal-body,
#registerLiveModal.modal .modal-body {
  padding: 0 5% 15px !important;
}
#registerDemoModal.modal .modal-body .h2,
#registerLiveModal.modal .modal-body .h2 {
  margin-top: 10px;
  margin-bottom: 12px;
}
#loginModal.modal .sponsorship-logo,
#registerDemoModal.modal .sponsorship-logo,
#registerLiveModal.modal .sponsorship-logo,
.widget-login .sponsorship-logo {
  padding: 25px 0;
  margin: 22px 0 8px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
#loginModal.modal .sponsorship-logo img,
#registerDemoModal.modal .sponsorship-logo img,
#registerLiveModal.modal .sponsorship-logo img,
.widget-login .sponsorship-logo img {
  max-width: 248px;
}
#registerDemoModal.modal .modal-body .registration-brand-content,
#registerLiveModal.modal .modal-body .registration-brand-content {
  margin-bottom: 20px;
  text-align: center;
}
#registerDemoModal.modal .modal-body .registration-brand-content .em-logo img,
#registerLiveModal.modal .modal-body .registration-brand-content .em-logo img {
  max-width: 240px;
  max-height: 38px;
  margin: 0 auto;
}
#registerDemoModal.modal .modal-body .registration-brand-content .h5,
#registerLiveModal.modal .modal-body .registration-brand-content .h5 {
  margin-top: 6px;
}
#restrictedStatesModal.modal .modal-header .h2 {
  margin-top: 19px;
  margin-bottom: 30px !important;
}
#restrictedStatesModal.modal .modal-body .restricted-message {
  padding-left: 6px;
}
#restrictedStatesModal.modal .modal-footer .modal-buttons .modal-ok {
  font-size: 20px;
}
#restrictedStatesModal.modal .modal-footer .modal-buttons {
  padding: 0 15% 15px;
}
.social-container {
  margin-bottom: 3px;
}
.social-container .social-title .title-wline {
  margin-top: 6px;
  margin-bottom: 16px;
  color: #999;
}
.social-container .social-title .title-wline:after,
.social-container .social-title .title-wline:before {
  border-top: 1px solid #bbb;
  top: 0.8em;
}
.social-container .social-buttons > div {
  padding-bottom: 10px;
}
.social-container.google-off.facebook-off {
  display: none;
}
.social-container.facebook-off .social-buttons > div,
.social-container.google-off .social-buttons > div {
  padding-bottom: 0;
}
.social-container.facebook-off .facebook-login,
.social-container.google-off .google-login {
  display: none;
}
.social-container .social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.218s, border-color 0.218s;
  transition: background-color 0.218s, border-color 0.218s;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #dadce0;
  color: #3c4043;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  padding: 0 12px;
  padding-left: 11px;
}
.social-container .social-buttons button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #d2e3fc;
  outline: 0;
  background: rgba(66, 133, 244, 0.04);
}
.social-container .social-buttons button.disabled,
.social-container .social-buttons button:disabled {
  background-color: #fff !important;
  border-color: #adadad !important;
  color: #777;
  opacity: 0.4;
}
.social-container .social-buttons button img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
#registerDemoModal .password-visibility,
#registerLiveModal .password-visibility {
  top: 5px;
  cursor: pointer;
  right: 20px;
  position: absolute;
}
#registerDemoModal .password-visibility i,
#registerLiveModal .password-visibility i {
  font-size: 20px;
  color: #ccc;
}
#registerDemoModal .password-visibility:hover i,
#registerLiveModal .password-visibility:hover i {
  color: #999;
}
#registerDemoModal .reg-second,
#registerLiveModal .reg-second {
  display: none;
}
#registerDemoModal.second .reg-first,
#registerLiveModal.second .reg-first {
  display: none;
}
#registerDemoModal.second .reg-second,
#registerLiveModal.second .reg-second {
  display: block;
}
#registerDemoModal .secured,
#registerLiveModal .secured {
  display: none;
  padding: 8px 14px;
}
#registerDemoModal.second .secured,
#registerLiveModal.second .secured {
  display: block;
}
#registerDemoModal .secured i,
#registerLiveModal .secured i {
  margin-right: 10px;
}
.rtl #registerDemoModal .secured i,
.rtl #registerLiveModal .secured i {
  margin-left: 10px;
  margin-right: 0;
}
#registerDemoModal.modal .modal-footer,
#registerLiveModal.modal .modal-footer {
  text-align: justify;
  margin: 0;
  border: none;
  min-height: 0;
}
#registerDemoModal.modal .modal-footer .regulator-info,
#registerLiveModal.modal .modal-footer .regulator-info {
  border-top: 1px solid #a7a9ab;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  padding: 10px 20px 12px;
}
@media (min-width: 460px) {
  .social-container .social-buttons > div:first-child {
    float: left;
    width: 50%;
    padding-right: 5px;
  }
  .social-container .social-buttons > div:last-child {
    float: right;
    width: 50%;
    padding-left: 5px;
  }
  .social-container.facebook-off .social-buttons > div:first-child,
  .social-container.facebook-off .social-buttons > div:last-child,
  .social-container.google-off .social-buttons > div:first-child,
  .social-container.google-off .social-buttons > div:last-child {
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}
@media (min-width: 576px) {
  #registerDemoModal.second .modal-dialog,
  #registerLiveModal.second .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }
  #loginModal .modal-dialog {
    width: 480px;
    margin: 30px auto;
  }
  #loginModal.modal .modal-body {
    padding: 0 10% 15px !important;
  }
}
@media (min-width: 576px) {
  #clientAgreementModal.modal .modal-dialog {
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  #registerDemoModal.modal .modal-body .h2,
  #registerLiveModal.modal .modal-body .h2 {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  #registerDemoModal.modal .modal-dialog,
  #registerLiveModal.modal .modal-dialog {
    width: 600px;
  }
  #registerDemoModal.second .modal-dialog,
  #registerLiveModal.second .modal-dialog {
    width: 560px;
  }
  #registerDemoModal.modal .modal-body .form-horizontal .checkbox,
  #registerDemoModal.modal .modal-body .form-horizontal .radio,
  #registerLiveModal.modal .modal-body .form-horizontal .checkbox,
  #registerLiveModal.modal .modal-body .form-horizontal .radio {
    z-index: 1;
  }
}
#forgotPasswordModal .user-form-submit {
  margin: 10px 0 0 0;
}
#forgotPasswordModal .modal-body {
  padding: 0 40px 15px;
}
#forgotPasswordModal .modal-body .modal-h1 {
  text-align: center;
}
#successModal .h1 {
  font-size: 30px;
  color: #8dc74b;
  margin-top: 20px;
  margin-bottom: 20px;
}
#successModal .modal-footer {
  min-height: 0;
}
#riskModal .modal-footer {
  padding: 0 15% 15px;
}
#pendingDetails .modal-body,
#riskModal .modal-body {
  padding: 0 15%;
}
#riskModal .pmargin {
  padding: 0 30px;
}
#uploadDocumentsBodyContainer .modal-h1 {
  margin: 10px -15px 20px 0;
  font-size: 30px;
  color: #333;
  font-weight: 300;
}
#accountClosedBodyContainer .modal-h1 {
  margin: 10px -15px 20px 0;
  font-size: 30px;
  color: #333;
  font-weight: 300;
  text-align: center;
}
.modal-header .close,
button.close {
  padding: 1px 6px;
}
@media (max-width: 480px) {
  button.close {
    padding: 3px 8px;
  }
  .modal-footer .btn {
    float: none !important;
  }
  #registerOptionsModal .modal-body {
    padding: 0 10% 15px;
  }
  #registerOptionsModal
    .register-choices
    button[data-target="#registerLiveModal"] {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #registerOptionsModal
    .register-choices
    button[data-target="#registerDemoModal"] {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #registerOptionsModal .btn-cta {
    max-width: 250px;
    font-size: 14px;
  }
  #registerOptionsModal .h2 {
    font-size: 14px;
  }
}
.dropdown-backdrop {
  position: static;
}
@media (min-width: 768px) {
  #registerOptionsModal .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }
  #registerOptionsModal .modal-body,
  #switchOptionsModal .modal-body {
    padding: 20px 10% 40px 10%;
  }
  #registerOptionsModal .modal-body .flush-right,
  #switchOptionsModal .modal-body .flush-right {
    position: absolute;
    right: 2px;
    bottom: 5px;
  }
  .modal-open {
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
#accountDetailsModal .modal-body {
  padding: 20px 5%;
}
#accountDetailsModal .modal-body .h1 {
  margin-bottom: 20px;
}
#culture-redirect.modal .modal-body {
  padding: 0 5% 15px;
}
#culture-redirect.modal .culture-buttons {
  margin: 20px 0 25px 0;
}
#culture-redirect.modal .modal-footer {
  min-height: 0;
  margin: 0;
}
.page-header {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 30px;
}
.page-header .h1,
.page-header h1 {
  margin-bottom: 20px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-width: 1px;
  border-top-style: solid;
}
.btn-group-xl > .btn,
.btn-xl {
  font-size: 22px;
  line-height: 1.2;
  padding: 24px 30px;
}
.btn-wide {
  padding-right: 32px;
  padding-left: 32px;
}
.btn-wide.btn-xs {
  padding-right: 14px;
  padding-left: 14px;
}
.btn-wide.btn-sm {
  padding-right: 26px;
  padding-left: 26px;
}
.btn-wide.btn-lg {
  padding-right: 30px;
  padding-left: 30px;
}
.btn-wide.btn-xl {
  padding-right: 55px;
  padding-left: 55px;
}
.btn-tall {
  padding-top: 14px;
  padding-bottom: 14px;
}
.btn-tall.btn-xs {
  padding-top: 6px;
  padding-bottom: 6px;
}
.btn-tall.btn-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-tall.btn-lg {
  padding-top: 18px;
  padding-bottom: 18px;
}
.btn-tall.btn-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (min-width: 481px) {
  .btn-wide.btn-lg {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.dotted {
  border-style: dotted;
}
section.text-center img.img-fluid {
  display: initial;
}
.multi-rows-section .row .row,
section {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .multi-rows-section .row .row,
  section {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .multi-rows-section .row .row,
  section {
    margin-bottom: 40px;
  }
}
.demo-element,
.live-element {
  display: none;
}
.multi-rows-section .row .row:last-child {
  margin-bottom: 0;
}
.emphasized-box {
  padding-top: 40px;
  padding-bottom: 40px;
}
.comment-box {
  padding: 10px 20px;
}
.comment-box p:last-child {
  margin-bottom: 0;
}
.comment-box-lg {
  padding: 20px 40px;
}
.bordered-box {
  padding: 15px;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.em-widget-box {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .em-widget-box {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.hp-carousel .carousel-indicators {
  left: 3%;
  width: auto;
  bottom: 0;
  margin-left: 0;
}
.hp-carousel .carousel-indicators li {
  margin: 0;
  width: 7px;
  height: 7px;
  border-radius: 7px;
}
.hp-carousel .carousel-indicators .active {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  margin-bottom: 2px;
}
.hp-carousel-cta-container {
  position: absolute;
  top: 0;
  right: 15px;
  width: 18%;
  height: 100%;
  box-shadow: 0 -5px 10px 0 #000;
  -moz-box-shadow: 0 -5px 10px 0 #000;
  -webkit-box-shadow: 0 -5px 10px 0 #000;
}
.hp-carousel-cta-wrapper {
  width: 70%;
  margin: 47.9% 15%;
}
.hp-carousel-cta {
  box-shadow: #000 0 0 20px 0 inset;
  -moz-box-shadow: #000 0 0 20px 0 inset;
  -webkit-box-shadow: #000 0 0 20px 0 inset;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.hp-carousel-cta a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}
@media (max-width: 991px) {
  .hp-carousel-cta-container {
    position: relative;
    height: auto;
    float: left;
    right: 0;
    width: 100%;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .hp-carousel-cta-wrapper {
    width: 13%;
    margin: 0.5% 46.7%;
  }
}
@media (max-width: 767px) {
  .hp-carousel-cta-wrapper {
    width: 15%;
    margin: 0.1% 44.7%;
  }
  .hp-carousel-cta a {
    font-size: 0.8em;
  }
}
body.url-format-page .hide-parent {
  display: none;
}
.post.post-excerpt {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}
.post.post-excerpt:last-child {
  border-bottom: none;
}
h3.post-title {
  margin-bottom: 10px;
  margin-top: 22px;
}
.post-title a {
  text-decoration: none;
  color: #474d5a;
}
.post-title a:hover {
  color: #2a6496;
}
ul.post-details {
  list-style: none;
  display: inline-block;
  padding: 0;
  font-size: 12px;
}
ul.post-details li {
  display: inline;
}
ul.post-details li.post-date {
  padding-left: 30px;
}
ul.post-details li.post-properties {
  padding-left: 60px;
}
.post-properties-tag {
  color: #8dc74b;
  padding-left: 10px;
}
.dmodal .modal-buttons {
  width: 100%;
}
.dmodal .modal-buttons .btn {
  margin: 15px 4px 0;
}
#switchModal .modal-done-msg,
#switchModal .modal-error-msg {
  display: none;
}
#errorModal .h1 {
  margin-bottom: 20px;
}
#errorModal .modal-footer {
  text-align: center;
}
.post-details,
.post-properties {
  display: none !important;
}
.internal-transfer-link,
.simple-tabs.nav-tabs li.internal-transfer-link,
li.internal-transfer-link {
  display: none;
}
img.lazy-picture,
img[data-src],
img[data-srcset] {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.modal-dialog-password-reset {
  padding-top: 0 !important;
  margin-top: -3px;
}
.progress .bar-danger,
.progress-danger .bar {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ee5f5b),
    to(#c43c35)
  );
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.progress .bar-success,
.progress-success .bar {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#62c462),
    to(#57a957)
  );
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
}
.progress-striped .bar-success,
.progress-success.progress-striped .bar {
  background-color: #62c462;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.progress .bar-info,
.progress-info .bar {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#5bc0de),
    to(#339bb9)
  );
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.progress .bar-warning,
.progress-warning .bar {
  background-color: #faa732 !important;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406) !important;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fbb450),
    to(#f89406)
  ) !important;
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406) !important;
  background-image: -o-linear-gradient(top, #fbb450, #f89406) !important;
  background-image: linear-gradient(to bottom, #fbb450, #f89406) !important;
  background-repeat: repeat-x !important;
}
.progress-striped .bar-warning,
.progress-warning.progress-striped .bar {
  background-color: #fbb450;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#f5f5f5),
    to(#f9f9f9)
  );
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #fff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#149bdf),
    to(#0480be)
  );
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress .bar-danger,
.progress-danger .bar {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ee5f5b),
    to(#c43c35)
  );
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.progress .bar-success,
.progress-success .bar {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#62c462),
    to(#57a957)
  );
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
}
.progress-striped .bar-success,
.progress-success.progress-striped .bar {
  background-color: #62c462;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.progress .bar-info,
.progress-info .bar {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#5bc0de),
    to(#339bb9)
  );
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.progress .bar-warning,
.progress-warning .bar {
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
}
.progress-striped .bar-warning,
.progress-warning.progress-striped .bar {
  background-color: #fbb450;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    100% 0,
    color-stop(0.25, rgba(255, 255, 255, 0.15)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, rgba(255, 255, 255, 0.15)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}
.font-password-hint {
  font-style: oblique;
}
.modal-body-password-reset {
  padding: 0 5% 15px;
}
.inline-inputs .display,
.inline-inputs .form-control,
.inline-inputs input,
.inline-inputs select {
  display: inline-block;
  width: auto;
  margin-right: 6px;
}
.inline-inputs input#CountryCode {
  max-width: 55px;
}
html:lang(ar) .inline-inputs input#DLNumber,
html:lang(ar) .inline-inputs select#DLType {
  margin-right: 0 !important;
}
.inline-inputs input#DLNumber {
  vertical-align: top;
}
.inline-inputs .datepicker {
  top: auto !important;
  left: auto !important;
}
.clickable {
  cursor: pointer;
}
.progress-location .progress {
  display: block;
  height: 24px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  background-image: none;
  margin-bottom: 10px;
}
.btn {
  height: auto;
  margin: 0 auto;
  white-space: normal;
}
.glossary-key a {
  text-decoration: none;
}
.filter-underline {
  text-decoration: underline;
}
h4.panel-title {
  margin-bottom: 0;
}
.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px 0;
}
.panel-title {
  font-size: inherit;
  color: #428bca;
}
.form-control-clear {
  border: 0;
  box-shadow: none;
  transition: none;
  -webkit-transition: none;
}
@media (max-width: 767px) {
  #account-password-reset {
    padding-top: 0;
    margin-top: 0;
  }
}
a.form-control {
  color: #0f5b8e;
  padding: 8px 16px;
}
.modal-dialog-password-reset {
  margin-top: 0 !important;
  font-size: 13px;
}
.font-password-hint {
  font-size: 13px;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .item.active,
.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}
.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.active.right,
  .carousel-fade .carousel-inner > .item.next {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.active.left,
  .carousel-fade .carousel-inner > .item.prev {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.active,
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#branch-banner-iframe {
  position: fixed !important;
}
.breadcrumb-container {
  margin-bottom: 0;
  background-color: #f2f2f2;
  margin-top: 100px;
}
.tradezone-outer-wrap .breadcrumb-container {
  margin-top: 54px;
}
.breadcrumb-container .breadcrumb {
  padding: 8px 5px 6px 5px;
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
}
.breadcrumb-container .breadcrumb > li + li:before {
  padding: 0 10px;
  content: "\003e";
}
.breadcrumb-container .breadcrumb .active,
.breadcrumb-container .breadcrumb a,
.breadcrumb-container .breadcrumb a:active,
.breadcrumb-container .breadcrumb a:focus,
.breadcrumb-container .breadcrumb a:hover,
.breadcrumb-container .breadcrumb > li + li:before {
  color: #666;
}
@media (max-width: 767px) {
  .tradezone-outer-wrap .breadcrumb-container {
    margin-top: 101px;
  }
}
